body {
	max-width: var(--viewport-12);
	margin: 0 auto;
	padding: 0 1rem;
	background-color: var(--white);

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr 25px;
	grid-template-areas: "header" "main";
};

body > .header {
	grid-area: header;
}

body > .main {
	grid-area: main;
}
